/* GRID */
.container {
  height: 200vh;
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar para-1 para-1"
    "sidebar para-2 para-2"
    "sidebar footer footer";
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: auto 1fr;
}

.para-1 {
  grid-area: para-1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/data.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.para-2 {
  grid-area: para-2;
  height: 100%;
  background-color: var(--mainGrey);
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
  height: 110px;
}
/* END OF GRID */

/* PARA-1 */
.about {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner-text {
  font-size: 80px;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-style: italic;
}
.banner-underline {
  width: 500px;
  border: 3px solid var(--mainBlue);
  /* places it in the center */
  margin: 10px auto 10px auto;
}
.about {
  padding: 10px 60px;
}
.about__center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90vw;
  margin: 2rem auto;
}
/* END OF PARA-1 *


/* PARA-2 */
.fw-container {
  display: grid;
  grid-template-columns: 1fr;
}
h2 {
  color: var(--mainBlue);
  position: relative;
  width: 100%;
  font-size: 70px;
  margin: 50px 0;
  text-align: center;
  border-bottom: 14px solid var(--darkGrey);
  border-radius: 60%;
  padding: 10px;
}
.fw-title {
  display: block;
  text-align: center;
  font-size: 60px;
  /* padding: 10px 0; */
  color: var(--dark);
  margin-top: 70px;
}
.fw-underline {
  width: 500px;
  border: 3px solid var(--mainBlue);
  /* places it in the center */
  margin: 5px auto 30px auto;
}
.fw-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e4052;
}
.fw-text p {
  width: 45%;
  text-align: justify;
  text-indent: 30px;
  align-self: auto;
}
.fw-img {
  display: flex;
  justify-content: center;
}
.fw-pic {
  width: 400px;
  display: block;
  border-right: 5px solid var(--darkGrey);
  border-radius: 25%;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .fw-text p {
    display: none;
  }
  .fw-pic {
    border: none;
  }
  .banner-text {
    font-size: 70px;
    text-align: right;
  }
  .fw-title {
    font-size: 45px;
  }
  .fw-underline {
    display: none;
  }
  .banner-underline {
    width: 300px;
  }
}
/* END OF PARA-2 */
