/* GRID */
.container {
  height: 200vh;
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar para-1 para-1"
    "sidebar para-2 para-2"
    "sidebar footer footer";
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: auto 1fr;
}
/* .item {
  border: 2px solid orange;
} */

.para-1 {
  grid-area: para-1;
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/pexels-photo-4511372.jpeg) center/cover no-repeat fixed;
  color: var(--lightGrey); */
}
.para-2 {
  grid-area: para-2;
  height: 100%;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
  height: 110px;
}
/* END OF GRID */

/* BANNER/PARA-1 */
#banner {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/background-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-style: italic;
}
.banner-underline {
  width: 200px;
  border: 3px solid var(--mainBlue);
  /* places it in the center */
  margin: 10px auto 10px auto;
}

.banner-btn {
  display: flex;
  justify-content: space-between;
}
.banner-btn button a {
  padding: 15px;
  text-transform: uppercase;
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;
  font-weight: 900;
}
.banner-btn button {
  margin: 0 10px;
  background: transparent;
  border: 4px solid var(--mainBlue);
}
.banner-btn button a:hover {
  color: var(--mainWhite);
}
/* END OF BANNER */

/* PARA-2 */
#skills {
  padding: 60px 0;
  background-color: var(--mainGrey);
}
.skills-container {
  max-width: 95vw;
  /* places it in the center */
  margin: 0 auto;
}
.skills-item {
  text-align: center;
  margin: 20px 0;
}
.skills-item .fa {
  font-size: 60px;
  color: var(--mainBlack);
}
.skills-item h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 30px 0;
  color: var(--mainBlue);
  text-transform: uppercase;
}

.skills-item p {
  width: 90%;
  margin: 0 auto;
  color: var(--dark);
}

@media screen and (min-width: 576px) {
  .skills-container {
    display: grid;
    /* divides in 2 */
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
  }
}
/* @media screen and (min-width: 992px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
  }
} */
/* END OF PARA-2 */
